{% extends "game-layout.html" %}

{% block title %}Articles{% endblock %}

{% block gameSpecific %}
<div class="content-container">
  <div class="content">
    <div class="information">
      <div class="score"></div>
      <div class="message-container">
        <div class="message"></div>
        <div class="tip"></div>
      </div>
    </div>
    <div class="word-display">
      <h1 class="current art-question"></h1>
      <h1 class="blank">_____</h1>
    </div>
    <div class="choices">
      <div>
        <div class="choice rand-a" onclick="game.interpretChoice(this)"></div>
        <div class="choice rand-b" onclick="game.interpretChoice(this)"></div>
      </div>
      <div>
        <div class="choice rand-c" onclick="game.interpretChoice(this)"></div>
        <div class="choice rand-d" onclick="game.interpretChoice(this)"></div>
      </div>
    </div>
{% endblock %}

{% block uniqueJS %}
  <script type="text/javascript">
    // Custom functions and data for this gametype
    let articleTypes = ["definite", "indefinite"];
    let genders = ["masculine", "feminine", "neutral", "plural"];
    let cases = ["nominitive", "accusative", "dative", "genitive"];
    let blank = "_____";

    function generateQuestion(item) {
      let question = `<span class="cap">${genders[item[2]]}</span> ${articleTypes[item[1]]} article in ${cases[item[3]]}: `;
      return question;
    }
  </script>
{% endblock %}