{% extends "game-layout.html" %}

{% block title %}Articles{% endblock %}

{% block gameSpecific %}
<div class="content-container">
  <div class="content">
    <div class="information">
      <div class="score"></div>
      <div class="message-container">
        <div class="message"></div>
        <div class="tip"></div>
      </div>
    </div>
    <div class="word-display">
      <h1 class="current art-question"></h1>
      <h1 class="blank">_____</h1>
    </div>
    <div class="choices">
      <div>
        <div class="choice rand-a"></div>
        <div class="choice rand-b"></div>
      </div>
      <div>
        <div class="choice rand-c"></div>
        <div class="choice rand-d"></div>
      </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="../static/scripts/articles.js"></script>
<script src="../static/scripts/games.js"></script>
{% endblock %}