{% extends "game-layout.html" %}

{% block title %}Geschlechtsmuster{% endblock %}

{% block gameSpecific %}
<div class="content-container">
  <div class="content">
      <div class="information">
        <div class="score"></div>
        <div class="message-container">
          <div class="message"></div>
          <div class="tip end-tip"></div>
        </div>
      </div>
      <div class="word-display">
        <h1 class="current"></h1>
        <h1 class="no-blank blank"></h1>
      </div>
      <h4 class="hint"></h4>
      <div class="choices">
        <div class="choice mann"></div>
        <div class="choice weib"></div>
        <div class="choice neut"></div>
      </div>
{% endblock %}
{% block scripts %}
  <script type="text/javascript" src="../static/scripts/games.js"></script>
  <script type="text/javascript">
    let articles = ["der", "die", "das"];
    let blank = "";

    function generateExample(current) {
      return `z. B. <strong>${articles[current[0]]} ${current[2]}</strong>`;
    };
    
    function generateHint(current) {
      return `z. B. "<strong>${current[2]}</strong>"`;  
    };
    
    function answerDisplay(answer, correctness) {
      if (correctness) {
        document.querySelectorAll('.blank')[0].innerHTML = `: <em class='correct'>${game.key[answer]}</em>`;
        document.querySelectorAll('.message')[0].innerHTML = `Correct! You chose <em class='correct'>${game.key[answer]}</em>.`;
      } else {
        document.querySelectorAll('.blank')[0].innerHTML = `: <em class='incorrect'>${game.key[game.current[0]]}</em>`;
        document.querySelectorAll('.message')[0].innerHTML = `Incorrect. You chose <em class='incorrect'>${game.key[answer]}</em>.`;
      };
    };

    let record = new questionRecord();
    let game = new PageState('{{ gameType }}', JSON.parse('{{ wordSet|tojson|safe }}'), JSON.parse('{{ key|tojson|safe }}'));
  </script>
{% endblock %}