{% extends "game-layout.html" %}

{% block title %}Geschlechtsmuster{% endblock %}

{% block gameSpecific %}
<div class="content-container">
  <div class="content">
      <div class="information">
        <div class="score"></div>
        <div class="message-container">
          <div class="message"></div>
          <div class="tip end-tip"></div>
        </div>
      </div>
      <div class="word-display">
        <h1 class="current"></h1>
        <h1 class="no-blank blank"></h1>
      </div>
      <h4 class="hint"></h4>
      <div class="choices">
        <div class="choice mann">1. Maskulin</div>
        <div class="choice weib">2. Feminin</div>
        <div class="choice neut">3. Neutral</div>
      </div>
{% endblock %}
{% block scripts %}
<script src="../static/scripts/endings.js"></script>
<script src="../static/scripts/games.js"></script>
{% endblock %}