<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="initial-scale=1, width=device-width"/>
        <title>{% block title %}{% endblock %}</title>
        <link href="/static/favicon.ico" rel="icon">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/styles.css') }}">
    </head>
    <body>
        {% include 'partials/navbar.html' %}
        {% block gameSpecific %}
        {% endblock %}
            <p class="note">Tip: Play using 1 - 4 on the keyboard. Enter for Next.</p>
            <div class="controls">
                <a class="form-btn form-btn--big results" onclick="game.storeResults()" href="{{ url_for('results') }}">Results</a>
                <div class="form-btn form-btn--big info-btn" onclick="game.toggleOverlay()">Game Info</div>
                <div class="form-btn form-btn--big next" onclick="game.resetFields()">Next</div>
            </div>
            <div class="overlay" onclick="game.toggleOverlay()">
                <div class="info-container">
                    <h1 class="info-head">Game Information </h1>
                    <p class="info-text">Use the keys 1 to 4 to play with the keyboard, press Enter for next. Score is displayed in the upper left
                        hand corner. The results button ends the game and will display which answers were right and wrong. 
                    </p>
                </div>
            </div>
        </div>
        {% block uniqueJS %}
        {% endblock %}
        <script type="text/javascript" src="../static/scripts/games.js"></script>
        <script type="text/javascript">
            document.getElementById("current-game").classList.add('active');
            function nav_thing() {
                var navlinks = document.querySelector('.navlinks');
                if (navlinks.className === 'navlinks') {
                    navlinks.className += ' responsive';
                } else {
                    navlinks.className = 'navlinks';
                }
            }
            let user_id = JSON.parse(' {{ user|tojson|safe }} ');
            let record, game;
            if (!localStorage.getItem("savedGame")) {
                record = new questionRecord();
                let qset = JSON.parse('{{ questions|tojson|safe }}');
                let setSize = JSON.parse('{{ setSize|tojson|safe }}');
                game = new PageState(gameType='{{ gametype }}', set=qset, setSize=setSize);
                game.setCurrent();
                game.saveGame();
            } else {
                let saved = JSON.parse(localStorage.getItem("savedGame"));
                record = new questionRecord(saved.record);
                game = new PageState(gameType = saved.gameType,
                                     set = saved.set, 
                                     setSize = saved.setSize,
                                     correct = saved.correct,
                                     attempts = saved.attempts,
                                     shown = saved.shown,
                                     current = saved.current)
                game.setView();
            };
            setHotkeys();
        </script>
    </body>
</html>