{% extends "game-layout.html" %}

{% block title %}Genders{% endblock %}

{% block gameSpecific %}
<div class="content-container">
  <div class="content">
      <div class="information">
        <div class="score"></div>
        <div class="message-container">
          <div class="message"></div>
          <div class="tip"></div>
        </div>
      </div>
      <div class="word-display">
        <h1 class="article blank">____</h1>
        <h1 class="current"></h1>
      </div>
      <h4 class="hint"></h4>
      <div class="choices">
        <div class="choice der"></div>
        <div class="choice die"></div>
        <div class="choice das"></div>
      </div>
{% endblock %}
{% block scripts %}
<script src="../static/scripts/wordlist.js"></script>
<script src="../static/scripts/gender.js"></script>
<script src="../static/scripts/games.js"></script>
{% endblock %}