{% extends "game-layout.html" %}

{% block title %}Genders{% endblock %}

{% block gameSpecific %}
<div class="content-container">
  <div class="content">
      <div class="information">
        <div class="score"></div>
        <div class="message-container">
          <div class="message"></div>
          <div class="tip"></div>
        </div>
      </div>
      <div class="word-display">
        <h1 class="article blank">____</h1>
        <h1 class="current"></h1>
      </div>
      <h4 class="hint"></h4>
      <div class="choices">
        <div class="choice ansA" onclick="game.interpretChoice(this)"></div>
        <div class="choice ansB" onclick="game.interpretChoice(this)"></div>
        <div class="choice ansC" onclick="game.interpretChoice(this)"></div>
      </div>
{% endblock %}
{% block uniqueJS %}
  <script type="text/javascript">
    let blank = "____";
    let suffixLists = { der: [["schluss", "schlag"], ["ismus"], ["ling", "name", "gang", "fall", "korb"], ["tag", "ant", "zug", "ent", "ich", "ist"], ["or", "us", "er", "en", "ig", "er"], []],
                        die: [["schaft", "nummer"], [""], ["heit", "keit", "bahn"], ["nis", "ion", "tät", "ung", "uhr", "enz", "anz", "art"], ["ei", "ie", "ik", "ur"], ["e"]], 
                        das: [["zimmer"], [], ["chen", "lein", "ment", "haus", "zeug", "land"], ["erl", "nis", "rad", "weh", "amt"], ["um" ,"ma"], []] };          

    function testSuffixes(word, suffixList) {
      var len = suffixList.length;
      for (let i = 0; i < len; i++) {
        let suffix = word.slice(-(len - i));
        for (let item of suffixList[i]) {
          if (item == suffix) return item;
        };
      };
      return null;
    };
    function suffixDisplay() {
      let suffix = testSuffixes(game.current["qinfo_1"], suffixLists[`${game.current["answer"].toLowerCase()}`])
      if (suffix) {
        return `Tip: Words ending in <strong>-${suffix}</strong> are often ${game.current["answer"]} words.`;
      } else {
        return "";
      }
    };
  </script>
{% endblock %}