<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="initial-scale=1, width=device-width"/>
        <title>{% block title %}{% endblock %}</title>
        <link href="/static/favicon.ico" rel="icon">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/styles.css') }}">
    </head>
    <body>
        {% include 'partials/navbar.html' %}
        {% if get_flashed_messages(with_categories=true) %}
            <header>
                <div class="flash-alert" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}
        {% block content %}
        {% endblock %}
        <script type="text/javascript">
            function nav_thing() {
                var navlinks = document.querySelector('.navlinks');
                if (navlinks.className === 'navlinks') {
                    navlinks.className += ' responsive';
                } else {
                    navlinks.className = 'navlinks';
                }
            }
        </script>
    </body>
</html>