    <div class="navbar-container">
      <nav class="navbar">
        <a class="navlogo" href="{{ url_for('newGame') }}">
          <span class="logoder">Der</span><span class="logodie">Die</span><span class="logodas">Das</span>
        </a>
        <div class="navlinks">
            <!-- class="active" -->
            <a class="nav-link" id="about" href="{{ url_for('about') }}">About</a>
            <a class="nav-link" id="new-game" href="{{ url_for('newGame') }}">New Game</a>
            {% if session["current_gametype"] %}
            <a class="nav-link" id="current-game" href="{{ url_for('run_game', gametype=session['current_gametype']) }}">Game</a>
            {% elif session["results"] %}
            <a class="nav-link" id="results" href="{{ url_for('results') }}">Results</a>
            {% endif %}
            {% if session["user_id"] %}
            <a class="nav-link" id="profile" href="{{ url_for('profile') }}">Profile</a>
            <a class="nav-link" id="profile" href="{{ url_for('logout') }}">Logout</a>
            {% else %}
            <a class="nav-link" id="login" href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </div>
      </nav>
    </div>