    <div class="navbar-container">
      <nav class="navbar">
        <a class="navlogo" href="{{ url_for('newGame') }}">
          <span class="logoder">Der</span><span class="logodie">Die</span><span class="logodas">Das</span>
        </a>
        <div class="navlinks">
            <!-- class="active" -->
            <a id="about" href="{{ url_for('about') }}">About</a>
            <a id="new-game" href="{{ url_for('newGame') }}">New Game</a>
            {% if session %}
            <a id="profile" href="{{ url_for('profile') }}">Profile</a>
            <a id="profile" href="{{ url_for('logout') }}">Logout</a>
            {% else %}
            <a id="login" href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </div>
      </nav>
    </div>