    <div class="navbar-container">
      <nav class="navbar">
        <a class="navlogo" href="{{ url_for('newGame') }}">
          <span class="logoder">Der</span><span class="logodie">Die</span><span class="logodas">Das</span>
        </a>
        <div class="navlinks">
          {% if request.url_rule.rule == "/about" %}
            <a class="active" href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('newGame') }}">New Game</a>
            <a href="{{ url_for('login') }}">Login</a>
          {% elif request.url_rule.rule == "/login" or request.url_rule.rule == "/register"  %}
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('newGame') }}">New Game</a>
            <a class="active" href="{{ url_for('login') }}">Login</a>
          {% else %}
            <a href="{{ url_for('about') }}">About</a>
            <a class="active" href="{{ url_for('newGame') }}">New Game</a>
            <a href="{{ url_for('login') }}">Login</a>
          {% endif %}
        </div>
      </nav>
    </div>