{% extends "layout.html" %}

{% block title %}New Game{% endblock %}

{% block content %}
<div class="content-container">
    <div class="content games-container">
        <h2 class="page-head cap">New Game</h2>
        <div class="ng-info">
            <div>
                <h4>Chooose a game type and press 'Start Game'</h4>
                <p><strong>'Set Size'</strong> allows you to limit the number of questions in the game. 
                    For example, a set size of ten will give you ten random questions.
                    If left blank, all possible questions will be shown until the 'results' button is pressed.</p>
                <p><strong>'Max Score'</strong> allows you to filter out questions you have done well on in the past.
                    For example, if 'Max Score' is set to 99 you will not recieve any questions on which your score is 100%.
                    If left blank, any question in the set can be shown. Must be logged in to access. </p>
            </div>
        </div>
        <div class="option">
            <div>
                <h1 class="icon">N</h1>
            </div>
            <div class="text">
                <h4>Noun Genders:</h4>
                <p>Guess if a noun uses 'der', 'die' or 'das'.</p>
                <form action="{{ url_for('run_game', gametype='gender') }}" method="post">
                    {% include 'partials/ng-form-content.html' %}
                </form>
            </div>
        </div>
        <div class="option">
            <div>
                <h1 class="icon">P</h1>
            </div>
            <div class="text">
                <h4>Prepositions:</h4>
                <p>Guess which case (accusative, dative, both or genitive) accomponies which preposition. </p>
                <form action="{{ url_for('run_game', gametype='preps') }}" method="post">
                    {% include 'partials/ng-form-content.html' %}
                </form>
            </div>
        </div>
        <div class="option">
            <div>
                <h1 class="icon">G</h1>
            </div>
            <div class="text">
                <h4>Gender Indicators:</h4>
                <p>Practice recognizing the suffixes and rules that can help identify noun gender. </p>
                <form action="{{ url_for('run_game', gametype='endings') }}" method="post">
                    {% include 'partials/ng-form-content.html' %}
                </form>
            </div>
        </div>
        <div class="option">
            <div>
                <h1 class="icon">A</h1>
            </div>
            <div class="text">
                <h4>Articles:</h4>
                <p>Given the case, gender and article type, choose the correct article. </p>
                <form action="{{ url_for('run_game', gametype='articles') }}" method="post">
                    {% include 'partials/ng-form-content.html' %}
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    document.getElementById("new-game").classList.add('active');
</script>
{% endblock %}