{% extends "game-layout.html" %}

{% block title %}Prepositions{% endblock %}

{% block gameSpecific %}
<div class="content-container">
  <div class="content">
    <div class="information">
      <div class="score"></div>
      <div class="message-container">
        <div class="message"></div>
        <div class="tip"></div>
      </div>
    </div>
    <div class="word-display">
      <h1 class="current"></h1>
      <h1 class="prep-case blank">ist _____</h1>
    </div>
    <h4 class="hint"></h4>
    <div class="choices">
      <div>
        <div class="choice akk" onclick="game.interpretChoice(this)"></div>
        <div class="choice dat" onclick="game.interpretChoice(this)"></div>
      </div>
      <div>
        <div class="choice mix" onclick="game.interpretChoice(this)"></div>
        <div class="choice gen" onclick="game.interpretChoice(this)"></div>
      </div>
    </div>
{% endblock %}

{% block uniqueJS %}
  <script type="text/javascript">
    let blank = "ist _____";
  </script>
{% endblock %}