{% extends "game-layout.html" %}

{% block title %}Prepositions{% endblock %}

{% block gameSpecific %}
<div class="content-container">
  <div class="content">
    <div class="information">
      <div class="score"></div>
      <div class="message-container">
        <div class="message"></div>
        <div class="tip"></div>
      </div>
    </div>
    <div class="word-display">
      <h1 class="current"></h1>
      <h1 class="prep-case blank">ist _____</h1>
    </div>
    <h4 class="hint"></h4>
    <div class="choices">
      <div>
        <div class="choice akk">1. Accusative</div>
        <div class="choice dat">2. Dative</div>
      </div>
      <div>
        <div class="choice mix">3. Two-Way</div>
        <div class="choice gen">4. Genitive</div>
      </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="../static/scripts/prepositions.js"></script>
<script src="../static/scripts/games.js"></script>
{% endblock %}