{% extends "layout.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
  <div class="content-container">
    <div class="content profile-content">
      <h5 class="page-head">Profile Page: '{{ session["username"] }}'</h3>
      <div id="profile-menu">
        <div id="profile-top">
            <div id="profile-user">
                <h2 id="user-title">User Record:</h2>
                <h2 id="user-user">{{ session["username"] }}</h2>
                <p>Registered: {{ session["reg_date"] }}</p>
            </div>
            <div id="profile-info">
                <p>The table below contains a full record of the questions you have answered. 
                    You can see how many times you've answered each question and the percentage of times you 
                    were correct. Use this information to focus on your weaker questions </p>
                <p>Note: The table is sortable by it's headers.</p>
            </div>
        </div>
        <div id="profile-bottom">
            <div id="overall">
                <h4>Overall Score:</h4>
                <div id="overall-data">
                    <div>
                        <h4 id="overall-attempts"></h4>
                        <h5>Attempts</h6>
                    </div>
                    <div id="divider"></div>
                    <div>
                        <h4 id="overall-percentage"></h4>
                        <h5>Correct</h6>
                    </div>
                </div>
            </div>
            <div id="form-container">
                <form id="profile-form">
                    <div id="form-top"> 
                        <p>Maximum display score: </p>
                        <input type="range" min="0" max="100" value="100"
                                            class="myslider" id="sliderRange"> 
                        <div>Score: <span id="demo"></span></div>
                    </div>
                    <div id="form-bottom">
                        <div id="gametype-filter">
                            <p>Filter by game type: </p>
                            <select name="gametypes" id="gametypes">
                                <option value="all">All</option>
                                <option value="gender">Genders</option>
                                <option value="preps">Prepositions</option>
                                <option value="endings">Gender Indicators</option>
                                <option value="articles">Articles</option>
                            </select>
                        </div>
                    </div>
                    <div id="form-submit">
                        <button type="button" class="form-btn" id="filter-submit" onclick="displayTable()">Refresh Table</button>
                    </div>
                </form>
            </div>
        </div>
      </div>
      <table class="result-table"></table>
    </div>
  </div>

  <script type="text/javascript" src="../static/scripts/table-sorter.js"></script>
  <script type="text/javascript" src="../static/scripts/profile.js"></script>
  <script type="text/javascript">
    document.getElementById("profile").classList.add('active');
    let userRecord = JSON.parse(' {{ user_record|tojson|safe }} ');
    setupPage();
  </script>
{% endblock %}